body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 900px;
  padding: 0 15px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.number {
  text-align: center;
  font-size: 160px;
  font-weight: bold;
}

.color-dark {
  color: #333;
}

.btn {
  border: 0;
  background: #0078ff;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 22px;
  padding: 15px;
}

.input {
  width: 100%;
  border: 1px solid #c5c5c5;
  margin-bottom: 30px;
  border-radius: 4px;
  font-size: 18px;
  padding: 15px;
}

.full-screen {
  width: 100vw;
  height: 100vh;
  padding: 0 15px;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.d-flex-align-center {
  align-items: center;
}

.d-flex-justify-center {
  justify-content: center;
}

.d-flex-justify-between {
  justify-content: space-between;
}

.m-right-10 {
  margin-right: 10px;
}

.m-right-20 {
  margin-right: 20px;
}

.m-left-20 {
  margin-left: 20px;
}

.m-bottom-20 {
  margin-bottom: 20px;
}

.top-position {
  position: absolute;
  top: 40px;
  right: 0px;
}

.logout {
  background: #f61290;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  line-height: 50px;
  padding: 0;
  font-size: 16px;
}

.p-center {
  text-align: center;
}

.logo {
  color: #333;
  font-size: 18px;
}
